<%- include header %>
<div class="text-center page-title"><%= title %></div>
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="artical-box">
                <h1 class="text-center"><%=notes.title %></h1>
                <p class="text-center">
                    <span class="label label-info"><%= notes.tag %></span>|
					<span class="create-time">
						<span class="text-bold">时间</span>
                        <%= notes.time %>
					</span>
                </p>
                <P><%=notes.content %></P>

            </div>
        </div>
    </div>
</div>

<%- include footer %>