<%- include header %>
	<div class="text-center page-title">新用户注册</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<form method="post">
					<div class="form-group">
						<input type="text" class="form-control" name="username" <% if(err1==''){ %> placeholder="用户名" <%} else{ %> placeholder="<%= err1 %>"<%}%>>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" <% if(err2==''){ %> placeholder="密码" <%} else{ %> placeholder="<%= err2 %>"<%}%>>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="passwordRepeat"<% if(err2==''){ %> placeholder="确认密码" <%} else{ %> placeholder="<%= err2 %>"<%}%>>
					</div>
					<button type="submit" class="btn btn-default center-block">注册</button>
				</form>
			</div>
		</div>
	</div>

<%- include footer %>